@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @screen mbvs {
    html {
      font-size: 62%; /* Makes 1rem =  */
    }
  }
  @screen mbvs1 {
    html {
      font-size: 65%; /* Makes 1rem =  */
    }
  }
  @screen mbvs2 {
    html {
      font-size: 67%; /* Makes 1rem =  */
    }
  }
  @screen mbvs3 {
    html {
      font-size: 70%; /* Makes 1rem =  */
    }
  }
  @screen mbvs4 {
    html {
      font-size: 72%; /* Makes 1rem =  */
    }
  }
  @screen mbvs5 {
    html {
      font-size: 74%; /* Makes 1rem =  */
    }
  }
  @screen mbs {
    html {
      font-size: 75%; /* Makes 1rem =  */
    }
  }
  @screen mbs1 {
    html {
      font-size: 78%; /* Makes 1rem =  */
    }
  }
  @screen mbs2 {
    html {
      font-size: 80%; /* Makes 1rem =  */
    }
  }
  @screen mbs3 {
    html {
      font-size: 82%; /* Makes 1rem =  */
    }
  }
  @screen mbm {
    html {
      font-size: 84%; /* Makes 1rem =  */
    }
  }
  @screen mbm1 {
    html {
      font-size: 87%; /* Makes 1rem =  */
    }
  }
  @screen mbm2 {
    html {
      font-size: 89%; /* Makes 1rem =  */
    }
  }
  @screen mbm3 {
    html {
      font-size: 91%; /* Makes 1rem =  */
    }
  }
  @screen mbm4 {
    html {
      font-size: 94%; /* Makes 1rem =  */
    }
  }
  @screen mbm5 {
    html {
      font-size: 97%; /* Makes 1rem =  */
    }
  }
  @screen mbl {
    html {
      font-size: 100%; /* Makes 1rem = 16px */
    }
  }
}

body {
  background-color: #eff2f9;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}
.custom-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #766df4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
